<section id="hero" class="hero-section">
  <div class="content">
    <div class="container">
      <h1
        class="main-title"
        [appTypewriter]="nameTypewriter()"
        [period]="5000"
      ></h1>
      <div class="align-subtitles">
        <p
          class="typewriter-text"
          [appTypewriter]="subtitlesTypewriter()"
          [period]="2000"
        ></p>
        <a class="subtitle-container" routerLink="/blog">
          <span class="subtitle">
            {{ langService.isPt() ? 'Acesse meu blog' : 'Access my blog' }}
          </span>
          <i class="ph ph-arrow-right"></i>
        </a>
      </div>
    </div>

    <div class="scroll-indicator" [style.opacity]="scrollIndicatorOpacity">
      <button (click)="scrollToNextSection()">
        <p>Scroll</p>
        <i class="ph ph-arrow-down"></i>
      </button>
    </div>

    <app-skills-marquee></app-skills-marquee>
  </div>
</section>
